<!--form modal-->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar empleado{{idEmpleado}}</h5>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="nombre" class="form-label">nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" disabled>
          </div>
          
        <div class="mb-3">
            <label for="apellidos" class="form-label">apellidos</label>
            <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos" disabled>
          </div>
          
        <div class="mb-3">
            <label for="fechaNace" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fechaNace" [(ngModel)]="fechaNace"> 
          </div>
    
        <div class="mb-3">
            <label for="correo" class="form-label">correo</label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="correo">
          </div>
          <div class="mb-3">
            <label class="form-label">Seleccionar rol</label>
            <select   class="form-select" aria-label="Default select example" [(ngModel)]="rol" disabled>
                <option *ngFor="let rol of roles;let i=index" [value]="rol.id" >{{rol.nombre}}</option>
              </select>
          </div>
          
          <div class="mb-3">
            <label class="form-label">Seleccionar área</label>
            <select   class="form-select" aria-label="Default select example" [(ngModel)]="area" disabled>
                <option *ngFor="let area of areas;let i=index" [value]="area.id" >{{area.nombre}}</option>
              </select>
          </div>
          
          <div class="alert alert-danger" role="alert">
            Se requiere ingresar todos los datos
        </div>
          <div class="mb-3">
            <button type="button" class="btn btn-primary" >Guardar cambios</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveSomeThing()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
