
<div class="container">
    <h1>Lista de empleados</h1>
        <!--Tabla-->
        
        <div class="col-md-offset-11">
            
        <label class="form-label">Mostrar:</label>
        <select id="PerPage" [(ngModel)]="cantMostrar">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
            </select>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Area</th>
                    <th scope="col">Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: cantMostrar, currentPage: paginaActual };let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellidos}}</td>
                    <td>{{empleado.fechaNace}}</td>
                    <td>{{empleado.correo}}</td>
                    <td>{{empleado.area.nombre}}</td>
                    <td>{{empleado.rol.nombre}}</td>
                    <td>
                    <button type="button" (click)="editarEmpleado(empleado.id)" class="btn btn-dark">
                        Editar
                      </button>
                    </td>
                    <td><button type="submit" class="btn btn-primary" (click)="eliminaEmpleado(empleado.id)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="paginaActual = $event" 
        previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>

    </div>
    <app-empleado-edita [idEmpleado]="empleadoSeleccionado"></app-empleado-edita>
    <router-outlet></router-outlet>
    
