<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://www.coffed.coop/images/login.png"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 card" style="padding: 30px;">
          <div >
            <h1>Iniciar sesión</h1>

            <div class="form-outline mb-4">
              <input type="text" name="usuario" formControlName="usuario" id="usuario" class="form-control form-control-lg" />
              <label class="form-label" for="usuario">Usuario</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" name="contrasena" formControlName="contrasena" id="contrasena" class="form-control form-control-lg" />
              <label class="form-label" for="contrasena">Contraseña</label>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()">Iniciar sesión</button>

        </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>