<div class="container">
    <div class="mb-3">
        <label for="nombre" class="form-label">nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
      </div>
      
    <div class="mb-3">
        <label for="apellidos" class="form-label">apellidos</label>
        <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos">
      </div>
      
    <div class="mb-3">
        <label for="fechaNace" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fechaNace" [(ngModel)]="fechaNace">
      </div>

    <div class="mb-3">
        <label for="correo" class="form-label">correo</label>
        <input type="email" class="form-control" id="correo" [(ngModel)]="correo">
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label">contraseña</label>
        <input type="password" class="form-control" id="contrasena" [(ngModel)]="contrasena">
      </div>
      <div class="mb-3">
        <label class="form-label">Seleccionar rol</label>
        <select   class="form-select" aria-label="Default select example" [(ngModel)]="rol">
            <option *ngFor="let rol of roles;let i=index" [value]="rol.id" >{{rol.nombre}}</option>
          </select>
      </div>
      
      <div class="mb-3">
        <label class="form-label">Seleccionar área</label>
        <select   class="form-select" aria-label="Default select example" [(ngModel)]="area">
            <option *ngFor="let area of areas;let i=index" [value]="area.id" >{{area.nombre}}</option>
          </select>
      </div>
      
      <div *ngIf="faltanDatos" class="alert alert-danger" role="alert">
        Se requiere ingresar todos los datos
    </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary" (click)="guardarEmpleado()">Guardar</button>
      </div>
      
</div>
